/* ..........styling index page.............. */



.searchForm {
  margin-bottom: 2rem;
}

.searchWrapper {
  position: relative;
  display:block;
}

.searchFormInput {

  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem 0.75rem; /* Bootstrap's typical padding */
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff; /* White background */
  background-clip: padding-box; /* This is to ensur;e the background only covers the area of the padding box, not border or margin */
  border: 1px solid #ced4da; /* A neutral light grey border */
  border-radius: 1rem; /* A slight curve on the borders */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transitions for interactions */

  /* When the input is focused */
  &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff; /* A light blue border when focused */
      outline: 0; /* To remove the browser's default focus outline */
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* A faint blue glow around the input */
  }

}

.searchFormButton {
  position: absolute;
  right: -1px; /* Adjust based on your preference */
  top: 50%;
  transform: translateY(-50%);
  background-color: #dbdbdb; /* If you want to retain input's background */
  border: none; /* Remove border */
  cursor: pointer;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0rem 1rem 1rem 0rem;
}

/* add camping button index page */
.button-add-campground {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  margin-bottom: 5%;
}


.button-add-campground, .button-add-campground:focus, .button-add-campground:active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

}


.button-add-campground:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.card-img-size-campground {
  height: 17.6rem;
  width: 100%;
  object-fit: cover;
}





@media (min-width: 576px) and (max-width: 2500px) {


  #cluster-map {
    width: 100%;
    height: 500px;
  }


  h1 {
    margin: 5% 0;
  }


  /* Set a fixed height for the images in the cards on the index and edit page*/

  .card-img-size-campground {
    height: 17.6rem;
    width: 100%;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.4rem;
  }

  .campground-card-button-to-go-showPage {
    font-size: 1.2rem;
  }


  .truncate-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #showMoreCamgroundsTitle, #showMoreButton {
    display: none;
  }

  .pagination{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .page-link {
    font-size: 1.1rem;
    padding: 0.8rem 1.1rem;

  }


}



/* Add media query for mobile devices */
@media (max-width: 576px) {

  .searchFormInput, .searchFormButton {
    padding: 0.5rem 0.75rem;
    font-size: 0.89rem;

  }
  #cluster-map {
    height:15rem;

  }

  h1 {
    font-size: 1.75rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .button-add-campground {
    font-size: 1rem;
    margin-bottom: 3rem;
  }



  /* Add a new CSS animation for revealing the cards */
  @keyframes revealAnimation {
    0% {
      opacity: 0;
      transform: translateY(1.25rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card {
    /* Add the CSS animation to the cards */
    animation: revealAnimation 2s ease;
  }




  #showMoreCamgroundsTitle, #TakeMeToTheTopTitle{
    display: block;
    text-align: center;
  }

  #showMoreAndBackToTheTopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  #showMoreButton, #backToTopButton {
    border-radius: 1rem;
    border: 2px solid black;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 3rem;
  }



}



/* .......styling show page......... */

#map {
  width: 100%;
  height: 300px;
}

/* Set a fixed height and width for the images on the carousel */
.fixed-size-image {
  height: 25rem; /* Set the desired height */
  width: 100%; /* Make the width of the image fill its container */
  object-fit: cover; /* Scale the image while maintaining aspect ratio */
}

.card {
  border-radius: 0 0 0.4rem 0.4rem;
}

.CampgroundCardShowPage{
  margin-bottom: 3rem;
}


h2{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}


.reviewTextCard{
  margin-bottom: 1rem!important;
}

.btnSubmit{
  margin-bottom: 3rem;
}

.reviewCard{
  margin-bottom: 3rem;
}



/* Add media query for mobile devices */
@media (max-width: 576px) {

  .carousel-inner{
    height: 16rem;
  }
  .fixed-size-image{
    height: 16rem;
  }

  .mb-3 {
    margin-bottom: 3rem!important;
  }

  #map {
    width: 100%;
    height: 15rem;
  }

}


/* .............styling the edit page for a specific campground................... */

/* Add media query for mobile devices */

.campgroundImages-Delete-Edit-Form-Card{
  margin-bottom: 2rem;
}

.updateButton{
  margin-bottom: 2rem;
}

.editFormCard{
  margin-bottom: 3rem;
}

@media (max-width: 576px) {

  /* making bigger size the checkbox and the label to delete fotos on the edit form */
  .checkbox-delete-input {
    transform: scale(1.2);
  }
  .form-check-label {
    font-size: 1.1rem;
  }

  .campgroundImages-Delete-Edit-Form-Card{
    margin-bottom: auto;
  }

  .btn-info, .Back-To-All-Campground-Link{
    font-size: 1.2rem;
  }


}


/* .............styling the New Form page to create a campground................... */


.newCampgroundFormContainer{
  margin-bottom: 3rem;
}
