#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}
/* Set a fixed height and width for the images */
.fixed-size-image {
  height: 25rem; /* Set the desired height */
  width: 100%; /* Make the width of the image fill its container */
  object-fit: cover; /* Scale the image while maintaining aspect ratio */
}

/* Set a fixed height for the images in the cards */
.card-img-index-campground {
  height: 14rem;
  width: 100%;
  object-fit: cover;
}
