
/* Apply flexbox to center content vertically and horizontally */
body {
  display: flex;

  height: 100vh; /* Set to 100% of viewport height */
  margin: 0; /* Remove default margin */
}




.user-profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 2rem;

}

.avatar-profile {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.user-name, .edit-profile-title {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 4.5rem;
  margin-bottom: 4rem;
}

.user-profile-content-card{
 margin-left: 6.6rem;
}






/* .............styling the Edit page to edit User's Profile.................. */

.user-edit-profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-right: 2rem;
}



.avatar-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sticky-avatar {
  position: sticky;
  top: 0; /* Adjust this value as needed */
}

.avatar-profile-container{
  position: relative;
  padding: 20px;
  margin-right: 2.5rem;
}

.fa-camera{
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.form-file-button-edit-avatar {
  display: flex;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1.3rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 16.5rem;
  left: 1.5rem;
  background-color: white;
  transition: transform 0.3s ease;
}


.form-file-button-edit-avatar:active {
  transform: scale(0.8);
}

.avatar-fade-out {
  opacity: 0.5; /* Adjust the opacity value as needed (0.5 for 50% transparency) */
  transition: opacity 1s; /* Adjust the transition duration as needed */
}

/* Define the border animation */
@keyframes borderAnimation {
  0% {
    border: 5px solid transparent; /* Initial transparent border */
  }

  50% {
    border: 5px solid #000; /* Black border */
  }
  100% {
    border: 5px solid transparent; /* Final transparent border */
  }
}

/* Apply the border animation dynamically */
.avatar-border-animation {
  animation: borderAnimation 1s linear infinite;
}





.edit-text {
  font-size: 1.1rem;
  display: inline-block;
  vertical-align: middle;
}

.edit-profile-button{
  color: black !important;
  padding: 1rem 2.5rem;
  /* cambia el padding o quitalo me voy a dormir en breves, para manana */
  width:30rem;
  height: 7rem;
  border: none;
}

.edit-profile-button:hover{
  color: black !important;
  padding: 1rem 2.5rem;
  background-color: #f7f7f7;
}



.left-edit-userProfile-container, .right-edit-userProfile-container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.left-edit-userProfile-container, .right-edit-userProfile-container{
  margin-left: 5rem;
  margin-right: 3rem;
  width: 29rem;
  border-bottom: 1px solid #ccc;
}

.edit-profile-icon{
  color: black;
  font-size: 2rem;
  margin-right: 2rem;

}

.edit-profile-arrow{
  color: black;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.flex-container {
  display: flex;
  align-items: center; /* Vertically center align items */
}



.form-control-modal {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: 1px solid black;
  border-radius: 0.5rem;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding-top: 2rem; /* 30px converted to rem */
}



.form-control-modal.input-error {
  border: 1px solid red;
  border-color: red;
  background-color: rgba(247, 211, 211, 0.372);
}

.form-control-modal.input-error:focus {
  border: 2px solid red;
  border-color: red;
  background-color: white;
  outline: red; /* Remove the default focus outline */
}



.input-wrapper {
  position: relative;
}

.title {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 10px;
  pointer-events: none;
  opacity: 1;
  text-align: left;
}



.input-with-character-count {
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: space-between;
  flex-direction: column; /* Display input and count below each other */
}

.about-you-container{
  margin-left: 4.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
}
.about-you-text-container{
  width: 60vw;
}


#addIntroLink, #editIntroLink{
  color: black;
}
/* Style for the sticky button */
.updateButtonContainer {
  display: flex;
  justify-content: flex-end; /* Align content to the left */
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
  margin-top: 4rem;
}
.submit-generalForm-button {
  background-color: rgb(33, 33, 33);
  border-radius: 1rem;
  padding:1.2rem 2.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.submit-generalForm-button:hover{
  background-color: black;
}
